// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

@import "node_modules/govuk-frontend/govuk/all";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.grey {
  background-color: yellow;
}

.welcomebanner {
  background-color:#003d78;
}
