<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
    GP Front Door Prototype
{% endblock %}

{% block header %}
    {#    {% from 'header/macro.njk' import header %}#}
    {{ header({
    "showNav": "true",
    "showSearch": "false",
    "classes": "nhsuk-header--white",
    "organisation": {
      "name": "Gloucestershire Clinical Commissioning Group"
    },
    "primaryLinks": [
    ]
  })
            }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <!-- Change the page title here -->

            <!-- Add your content here -->
            <h3>GP front door project, July 2021</h3>
            <h1>GP practice website prototype</h1>
            <p>This is an HTML prototype created using the NHS Design System.<br>
            It follows research with patients and GP practices.<br><br>
            This is an initial prototype only and is not a fully functioning website. Many links do not work
                and placeholder content is shown.</p>

            {{ warningCallout({
              "heading": "Please wait",
              "HTML": "<p>If you are taking part in research, please wait on this page until the researcher asks you to continue.</p>"
            }) }}
            {{ actionLink({
                  "text": "View prototype",
                  "href": "/home"
            }) }}
    </div>
{% endblock %}

