<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
    Other ways to get help
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <section>


            <h2 data-block-key="9ed18">Health information and advice</h2>
            <p data-block-key="u6dz7">The best place to get accurate health information is the&nbsp;<a href="/">NHS
                website</a>.</p>
            <p data-block-key="zu276">The NHS website has information and advice on:</p>
            <ul>
                <li data-block-key="nlag7"><a href="/conditions/">medical conditions and symptoms</a></li>
                <li data-block-key="ta9vf"><a href="/medicines/">common medicines</a></li>
                <li data-block-key="s13ie"><a href="/live-well/">healthy lifestyle</a></li>
            </ul>

                <h2 data-block-key="am2k5">Local pharmacy</h2><p data-block-key="entpe">Pharmacists are experts in medicines who can help you with minor health concerns.</p>

                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/find-a-pharmacy/">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Find a pharmacy</span>
                    </a>
                </div>

                <p data-block-key="mo2uw">As qualified healthcare professionals, they can offer clinical advice and over-the-counter medicines for a range of minor illnesses, such as coughs, colds, sore throats, tummy trouble and aches and pains.</p><p data-block-key="uuzut">If symptoms suggest it's something more serious, pharmacists have the right training to make sure you get the help you need. For example they will tell you if you need to see a GP, nurse or other healthcare professional.</p><p data-block-key="8w4d8">All pharmacists train for 5 years in the use of medicines. They are also trained in managing minor illnesses and providing health and wellbeing advice.</p><p data-block-key="peil3">Many pharmacies are open until late and at weekends. You do not need an appointment.</p><p data-block-key="7b7bq">Most pharmacies have a private consultation room where you can discuss issues with pharmacy staff without being overheard.</p>


            <h2 data-block-key="uyq6g">Dentists</h2>
            <p data-block-key="zl2vf">Dentists are open for urgent and routine treatments. Contact your dentist by phone
                or email.</p>
            <p data-block-key="n36el">Changes have been made to keep you and the dental care team safe.</p>
            <p data-block-key="ooiid">You might have to wait longer for an appointment if it's not urgent.</p>

            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p data-block-key="43ly2">If you cannot contact your dentist or do not have one, use the <a
                        href="https://111.nhs.uk/">NHS 111 online service</a>.</p>
                <p data-block-key="7b3fw">They can give you advice, help you contact an urgent dental service or arrange
                    treatment if needed.</p>
                <p data-block-key="sxfy2">Do not contact a GP. They cannot provide dental treatment.</p>
            </div>


            <h2 data-block-key="5i04f">Mental health services</h2>
            <p data-block-key="xc6w1">Mental health services are open, including services for children and young
                people.</p>
            <p data-block-key="qlgxl">You can get appointments face-to-face, by phone or online.</p>
            <ul>
                <li data-block-key="ziac2">If you have an existing mental health condition, speak to your GP or your
                    mental health care team as usual.
                </li>
                <li data-block-key="8z07j">If you're struggling to cope with feelings of anxiety and depression, a GP
                    can refer you for NHS talking therapies or you can refer yourself online without speaking to a GP.
                    <a href="https://www.nhs.uk/service-search/find-a-psychological-therapies-service/">Find an NHS
                        psychological therapies service (IAPT)</a></li>
                <li data-block-key="akuoq">If you need help for a mental health crisis or emergency, you can get 24-hour
                    support and advice. <a
                            href="/using-the-nhs/nhs-services/mental-health-services/where-to-get-urgent-help-for-mental-health/">Find
                        out where to get urgent help for mental health</a></li>
            </ul>
            <h3 data-block-key="l7bzz">More information and support</h3>
            <ul>
                <li data-block-key="cq94e"><a
                        href="/using-the-nhs/nhs-services/mental-health-services/children-and-young-peoples-mental-health-services-cypmhs/">Children
                    and young people's mental health services (CYPMHS)</a></li>
                <li data-block-key="c81t5"><a
                        href="/using-the-nhs/nhs-services/mental-health-services/how-to-access-mental-health-services/">How
                    to access mental health services</a></li>
                <li data-block-key="eeuwu"><a href="https://www.nhs.uk/oneyou/every-mind-matters/">Every Mind Matters:
                    how to look after your mental health</a></li>
            </ul>
            <h2 data-block-key="ii1vf">Sexual health clinics</h2>
            <p data-block-key="zf2hn">Call a sexual health clinic if you need help or advice about sexual health issues
                like sexually transmitted infections (STIs) or contraception.</p>
            <p data-block-key="yuqp0">Clinics can be busy, so you may need to wait for your call to be answered and you
                may need to call more than once.</p>
            <p data-block-key="9rgph">Only go to a clinic if you’ve been told to.</p>
            <p data-block-key="w2ddb"><a
                    href="https://www.nhs.uk/service-search/sexual-health/find-a-sexual-health-clinic">Find sexual
                health clinic contact details</a></p>
            <h2 data-block-key="di5gi">Urgent medical help</h2>
            <p data-block-key="dtfvk">If you need urgent medical help, use the regular <a href="https://111.nhs.uk/">NHS
                111 online service</a>.</p>
            <p data-block-key="5pf7d">The 111 online service asks questions about your symptoms to help you get the help
                you need.</p>
            <p data-block-key="x4t2d">Call 111 if you need urgent help for a child under 5 or cannot get help
                online.</p>
            <h2 data-block-key="tw9zw"><b>Emergency medical help</b></h2>
            <p data-block-key="a7phc">For life-threatening emergencies, call 999 for an ambulance.</p>
            <p data-block-key="uf79u">Try to avoid going straight to A&amp;E instead of calling an ambulance.</p>

        </section>
    </div>
    </div>
{% endblock %}
